@{
    ViewBag.Title = "About me";
}
<div class="img" style="float:left;width:400px"><img src="~/Content/img/me.jpg" alt="me" style="border-radius:4px;-moz-border-radius:4px;" /></div>
<p><strong>SupperSlonic</strong> is my nickname from the University.</p>
<p>I am from Moscow, Russia. At the moment I work and live in the USA.</p>
<p>I have huge experience with <strong>.Net</strong> platform, <strong>Web</strong> development and <strong>Java</strong>.</p>
<p>I am passionate about the <strong>Cloud Computing Technology</strong> in general and <strong>Amazon Web Services</strong> in particular.</p>
<p>Also, I love travelling, art and dancing =).</p>
<p>I speak Russian, English and French. Please feel free to contact me.</p>
