@using SupperSlonicWebSite.Models;

@model IList<TabWidgetModel>

@{
    ViewBag.Title = "SupperSlonic EMR";
}
<link href="~/Content/css/emr.css" rel="stylesheet" type="text/css" />
<h1 class="first" id="description">Description</h1>
<p>This application allows you to describe and create an <strong>Amazon EMR job flow</strong> in seconds! All you need is to create a simple properties file.<br/>
This properties file describes a job flow and is called a <strong>job flow template</strong>. It can be reused as many times as needed creating different job flow instances with a unique name (<strong>job instance name</strong>).</p>
<p>What you can describe:</p>
<ul class="check-list">
	<li>Unlimited number of custom bootstrap actions;</li>
	<li>Unlimited number of custom steps;</li>
	<li>Configuration of EC2 instances;</li>
	<li>Configuration of Hadoop;</li>
	<li>Usage and configuration of HBase;</li>
	<li>Backup/Restore of HBase any time required;</li>
	<li>Debugging mode.</li>
</ul>
@Html.Partial("DownloadExampleWidget")
<h1 id="howToUse">How to use</h1>
<ol>
	<li>Create a job flow template file;</li>
	<li>Populate a <strong>JobFlowContext object</strong>;</li>
	<li>Call a static method <strong>JobInvoker.startJob(JobFlowContext jobFlowContext)</strong>.</li>
</ol>
<h1>Job flow template example</h1>
<div class="demo" style="width:600px">
	<strong># Job Flow Descr</strong><br/>
	Name=SupperSlonic Job Flow Name<br/>
	LogUri=s3://supperSlonic/log<br/>
	SecurityKeyPair=slonic<br/>
	<br/>
	<strong># HBase Configuration</strong><br/>
	HBase.Start=true<br/>
	<br/>
	<strong># Bootstrap Actions Descr Section</strong><br/>
	BootstrapActions.M1.Name=Upload libraries<br/>
	BootstrapActions.M1.Path=s3://supperSlonic-bin/bootstrap/UploadLibraries.sh<br/>
	BootstrapActions.M1.Args.M1=arg1<br/>
	<br/>
	<strong># Steps Descr Section</strong><br/>
	Steps.M1.RestoreHBasePath=s3://supperSlonic-hbase/${jobInstance}<br/>
	<br/>
	Steps.M2.Name=Analyze Text<br/>
	Steps.M2.ActionOnFailure=CANCEL_AND_WAIT<br/>
	Steps.M2.MainClass=supperSlonic.AmazonClient.TextAnalyzer<br/>
	Steps.M2.Jar=s3://supperSlonic-bin/jar/myCode.jar<br/>
	Steps.M2.Args.M1=s3://supperSlonic-data/input/part-m-00000<br/>
	Steps.M2.Args.M2=s3://supperSlonic-data/output/${jobInstance}<br/>
	<br/>
	Steps.M3.BackupHBasePath=s3://supperSlonic-hbase/${jobInstance}<br/>
	<br/>
	Steps.M4.Name=Clean<br/>
	Steps.M4.Jar=s3://supperSlonic-bin/jar/Clean.jar<br/>
</div>
<h1 id="placeHoldersInTemplate">Placeholders in a template</h1>
<p>When creating a <strong>JobFlowContext object</strong> you should specify:</p>
<ul>
	<li>A <strong>job instance name</strong>. This field is used as a marker of your job flow. For example, you can have a job flow template "Make cookies" and specific instances' names like "Chocolate cookies", "Butter cookies" etc.<br/>
        You can use it in a template as a placeholder <strong>${jobInstance}</strong>.It will be automatically replaced by a builder before sending a request to AWS;</li>
	<li>An <strong>environment</strong>. This filed is used to indicate the working environment on Amazon, e.g. test, development, uat, production etc.<br/>You can use it in a template as a placeholder <strong>${awsEnviroment}</strong>.It will be automatically replaced by a builder before sending a request to AWS.</li>
</ul>
<h1 id="templateStructure">Job flow template structure</h1>
<p>Job flow template consists of 4 sections:</p>
<ol>
	<li><a href="#JobInfoAndConfig">Job flow information;</a></li>
	<li><a href="#JobInfoAndConfig">Configuration settings;</a></li>
	<li><a href="#bootstrapActions">Bootstrap actions;</a></li>
    <li><a href="#steps">Steps of a job flow.</a></li>
</ol>
<p>We provide a default configuration for Hadoop instances and HBase. You can overwrite them in your job flow template.</p>

<h1 id="JobInfoAndConfig">Job information and configuration structure</h1>
<p>Example:</p>
<div class="demo" style="width:600px">
Name=SupperSlonic Job Flow Name<br/>
LogUri=s3://supperSlonic/log<br/>
SecurityKeyPair=slonic<br/><br />
Debug.Start=true<br/>
DebugConf.Jar=overwrite_Debug_Default.jar<br/><br/>
HadoopConf.Args.M1=mapred.task.timeout=172800000<br/>
HadoopConf.Args.M2=dfs.namenode.handler.count=666<br/><br/>
HBase.Start=true<br/>
HBaseConf.Jar=overwrite_HBase_Default.jar<br/>
HBaseConf.Args.M1=hbase.rpc.timeout=720001<br/><br/>
HBaseDaemonsConf.Args.M1=--hbase-master-opts=-Xmx6140M -XX:NewSize=65m -tt=a=a
</div>
<p>Structure:</p>
<div class="emrConfig">
    <div class="emrConfHeader">
        <div>Name</div><div>Default value</div><div>Required</div>
    </div>
    <div class="emrConfSection">Job Flow Section</div>
    <div class="emrConfRow"><div>Name</div><div class="emrConfRequired"><img src="~/Content/img/yes16.png" alt="yes" /></div></div>
    <div class="emrConfRow"><div>LogUri</div><div class="emrConfRequired"><img src="~/Content/img/yes16.png" alt="yes" /></div></div>
    <div class="emrConfRow"><div>SecurityKeyPair</div><div class="emrConfRequired"><img src="~/Content/img/yes16.png" alt="yes" /></div></div>
    <div class="emrConfRow"><div>HadoopVersion</div><div>1.0.3</div></div>
    <div class="emrConfRow"><div>MasterType</div><div>c1.xlarge</div></div>
    <div class="emrConfRow"><div>CoreType</div><div>cc1.4xlarge</div></div>
    <div class="emrConfRow"><div>CoreCount</div><div>3</div></div>
    <div class="emrConfRow"><div>KeepJobflowAliveWhenNoSteps</div><div>false</div></div>
    <div class="emrConfRow"><div>TerminationProtected</div><div>true</div></div>
    
    <div class="emrConfSection">Debug Configuration</div>
    <div class="emrConfRow"><div>Debug.Start</div><div>false</div></div>
    <div class="emrConfRow"><div>DebugConf.Jar</div><div>s3://elasticmapreduce/libs/script-runner/script-runner.jar</div></div>

    <div class="emrConfSection">Hadoop Configuration</div>
    <div class="emrConfRow"><div>HadoopConf.Args.M1</div><div>mapred.tasktracker.map.tasks.maximum=5</div></div>
    <div class="emrConfRow"><div>HadoopConf.Args.M2</div><div>mapred.tasktracker.reduce.tasks.maximum=5</div></div>
    <div class="emrConfRow"><div>HadoopConf.Args.M3</div><div>dfs.datanode.max.xcievers=4096</div></div>
    <div class="emrConfRow"><div>HadoopConf.Args.M4</div><div>dfs.namenode.handler.count=50</div></div>
    <div class="emrConfRow"><div>HadoopConf.Args.M5</div><div>io.file.buffer.size=4194304</div></div>

    <div class="emrConfSection">HBase Configuration</div>
    <div class="emrConfRow"><div>HBase.Start</div><div>false</div></div>
    <div class="emrConfRow"><div>HBaseConf.Jar</div><div>/home/hadoop/lib/hbase-0.92.0.jar</div></div>
    <div class="emrConfRow"><div>HBaseConf.Args.M1</div><div>hbase.hregion.memstore.mslab.enabled=true</div></div>
    <div class="emrConfRow"><div>HBaseConf.Args.M2</div><div>hbase.hregion.memstore.mslab.chunksize=2097152</div></div>
    <div class="emrConfRow"><div>HBaseConf.Args.M3</div><div>hbase.hregion.memstore.mslab.max.allocation=262144</div></div>
    <div class="emrConfRow"><div>HBaseConf.Args.M4</div><div>hbase.regionserver.globalMemcache.lowerLimit=.15</div></div>
    <div class="emrConfRow"><div>HBaseConf.Args.M5</div><div>hbase.hregion.memstore.mslab.max.allocation=262144</div></div>
    <div class="emrConfRow"><div>HBaseConf.Args.M6</div><div>hbase.zookeeper.property.maxClientCnxns=512</div></div>
    <div class="emrConfRow"><div>HBaseConf.Args.M7</div><div>hbase.rpc.timeout=720000</div></div>
    <div class="emrConfRow"><div>HBaseConf.Args.M8</div><div>hbase.master.assignment.timeoutmonitor.timeout=7200000</div></div>
    <div class="emrConfRow"><div>HBaseConf.Args.M9</div><div>hbase.regionserver.lease.period=7200000</div></div>

    <div class="emrConfSection">HBase Daemonds Configuration</div>
    <div class="emrConfRow"><div>HBaseDaemondsConf.Args.M1</div><div>--hbase-master-opts=-Xmx6140M -XX:NewSize=64m -XX:MaxNewSize=64m -XX:+HeapDumpOnOutOfMemoryError -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -XX:ParallelGCThreads=8</div></div>
    <div class="emrConfRow"><div>HBaseDaemondsConf.Args.M2</div><div>--regionserver-opts=-Xmx6140M -XX:NewSize=64m -XX:MaxNewSize=64m -XX:+HeapDumpOnOutOfMemoryError -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -XX:ParallelGCThreads=8</div></div>
</div>

<h1 id="bootstrapActions">Bootstrap actions structure</h1>
<p>Example:</p>
<div class="demo" style="width:600px">
BootstrapActions.M1.Name=Upload libraries<br />
BootstrapActions.M1.Path=s3://supperSlonic-bin/bootstrap/UploadLibraries.sh<br />
BootstrapActions.M1.Args.M1=arg1<br />
BootstrapActions.M1.Args.M2=my super arg2<br />
BootstrapActions.M1.Args.M3=last arg3
</div>
<p>Structure:</p>
<div class="emrConfig">
    <div class="emrConfHeader">
        <div>Name</div><div>Description</div><div>Required</div>
    </div>
    <div class="emrConfSection">Common Bootstrap Action</div>
    <div class="emrConfRow"><div>BootstrapActions.M{i}.Name</div><div>Name of a bootstrap action</div><div class="emrConfRequired"><img src="~/Content/img/yes16.png" alt="yes" /></div></div>
    <div class="emrConfRow"><div>BootstrapActions.M{i}.Path</div><div>Path to a script to be run</div><div class="emrConfRequired"><img src="~/Content/img/yes16.png" alt="yes" /></div></div>
    <div class="emrConfRow"><div>BootstrapActions.M{i}.Args.M{i}</div><div>Argument to be passed to a bootstrap action</div></div>
</div>

<h1 id="steps">Steps structure</h1>
<p>Example:</p>
<div class="demo" style="width:600px">
Steps.M1.RestoreHBasePath=s3://supperSlonic-hbase/${jobInstance}<br /><br />
Steps.M2.Name=Analyze text<br />
Steps.M2.ActionOnFailure=TERMINATE_JOB_FLOW<br />
Steps.M2.MainClass=supperSlonic.AmazonClient.TextAnalyzer<br/>
Steps.M2.Jar=s3://supperSlonic-bin/jar/myCode.jar<br/>
Steps.M2.Args.M1=s3://supperSlonic-data/input/part-m-00000<br/>
Steps.M2.Args.M2=s3://supperSlonic-data/output/${jobInstance}<br/>
Steps.M2.Args.M3=20.0<br /><br />
Steps.M3.BackupHBasePath=s3://supperSlonic-hbase/${jobInstance}
</div>
<p>Structure:</p>
<div class="emrConfig">
    <div class="emrConfHeader">
        <div>Name</div><div>Description</div><div>Required</div>
    </div>
    <div class="emrConfSection">Common Step</div>
    <div class="emrConfRow"><div>Steps.M{i}.Name</div><div>Name of a step</div><div class="emrConfRequired"><img src="~/Content/img/yes16.png" alt="yes" /></div></div>
    <div class="emrConfRow"><div>Steps.M{i}.Jar</div><div>Path to a jar-file to be run</div><div class="emrConfRequired"><img src="~/Content/img/yes16.png" alt="yes" /></div></div>
    <div class="emrConfRow"><div>Steps.M{i}.ActionOnFailure</div><div>What action should EMR do if step fails</div></div>
    <div class="emrConfRow"><div>Steps.M{i}.MainClass</div><div>Name of a main class in a jar-file</div></div>
    <div class="emrConfRow"><div>Steps.M{i}.Args.M{i}</div><div>Argument to be passed to a step</div></div>

    <div class="emrConfSection">HBase Restore Step</div>
    <div class="emrConfRow"><div>Steps.M{i}. RestoreHBasePath</div><div>Path to a file to restore HBase</div></div>

    <div class="emrConfSection">HBase Backup Step</div>
    <div class="emrConfRow"><div>Steps.M{i}. BackupHBasePath</div><div>Path to a file to backup HBase</div></div>
</div>
 @foreach (TabWidgetModel tabWidget in this.Model)
    { @Html.Partial("TabWidget", tabWidget) }
