<div class="demo" style="width:178px;float:left;"><img src="~/Content/img/aws/logo.png" alt="awsLogo"/></div>
<p>I created <strong>.NET API</strong> that allows to work with <strong>Amazon Web Services</strong> in a more convenient and efficient fashion.</p>
<p>At the moment I support the following Amazon Web Services:</p>
<div class="demo" style="width:200px;float:right;margin-right:60px;margin-top:0">
    <img style="float:right" src="~/Content/img/aws/cloudAPI.png" alt="cloudAPI" />
    <p><strong>.NET API</strong> for an efficient<br />usage of AWS</p>
</div>
<ul style="margin-left:200px" class="check-list">
	<li>DynamoDB;</li>
	<li>Elastic MapReduce (EMR).</li>
</ul>


<h1>DynamoDB</h1>
<p>I have a solution for DynamoDB to deploy into and work with <strong>different environments</strong> (such as test, development, production) simultaneously and in a consistent and isolated way.<br />
Moreover, my API includes support for a <strong>locking mechanism</strong> (pessimistic locking) for tables or records to enable atomic multistep operations on complex data.</p>
<h1>Elastic Map Reduce</h1>
<p>Amazon has a web service, <strong>Amazon Elastic MapReduce (EMR)</strong>, that allows you to host Hadoop framework and process vast amounts of data. It also has a web interface and an API to create a job flow with multiple steps and bootstrap actions to be run on each instance before an actual Hadoop job.</p>
<p>I wrote an <strong>extension to the Amazon .NET API</strong> that allows you to <strong>store the EMR Job’s flow description in a file</strong> or in an object, <strong>run and manage the flow locally</strong>, support an <strong>alternative flow in case of error</strong>.</p>
<p>Here are only some features you can describe in your flow using my API:</p>
<ul class="check-list">
    <li>Type and number of EC2 instances;</li>
    <li>Hadoop, HBase and Debug configuration;</li>
    <li>Any number of custom bootstrap actions;</li>
    <li>Any number of custom steps.</li>
</ul>
<p>My library already has a set of <strong>predefined bootstrap actions and steps</strong> for example, to start HBase or Debug mode, so you just need to set up a corresponding boolean flag.</p>
<p>It is easy to use! ;)</p>