@{
    ViewBag.Title = "SupperSlonic Home Page";
}
<div class="demo" style="width:178px;float:left;"><img src="~/Content/img/aws.png" alt="awsLogo"/></div>
<p style="white-space:nowrap">We wrote a <strong>Java package</strong> that allows you to work with <strong>Amazon Web Services</strong> in a more convenient fashion.</p>
<p>This library is provided as a <strong>Maven dependency</strong>. You can find code examples on this web site.</p><br/><br/>
<div class="demo" style="width:250px;float:right;margin-right:60px">In one month we will release a <strong>.NET library</strong> with similar functionality.</div>
<p>At the moment we support the following Amazon Web Services:</p>
<ul class="check-list">
	<li>DynamoDB;</li>
	<li>Elastic Map Reduce (EMR).</li>
</ul>
<h1>DynamoDB</h1>
<p>We have a solution for DynamoDB to deploy into and work with <strong>different environments</strong> (such as test, development, production) simultaneously and in a consistent and isolated way.
The next release will include support for a <strong>locking mechanism</strong> (pessimistic locking) for tables or records to enable atomic multistep operations on complex data.</p>
<h1>Elastic Map Reduce</h1>
<p>For EMR we have a solution to describe a <strong>workflow</strong> to run on EMR, similar to an <strong>oozie workflow</strong> of Hadoop. At the moment you can do it with a properties file, but the next release will support an XML version too.</p>