div.downloadsInfo {width:450px;background-color:#181818;font-size:13px;border:none;border-radius:6px;-moz-border-radius:6px;margin-top:10px}

div.downloadsInfoHeader {
    width:450px;
    background: transparent url(../img/tableHeader.png) 0 0 repeat;
    display:table;
    height:30px;
    border-top-left-radius:6px;-moz-border-radius-topleft:6px;
    border-top-right-radius:6px;-moz-border-radius-topright:6px;
    color:white;
    font-size:16px;font-weight:normal;font-family:'Lucida Grande', 'Lucida Sans Unicode','Lucida Sans Regular','Trebuchet MS', Verdana, sans-serif;
}

div.downloadsInfoSection{background-color:#10293B;color:#5FC0FE;height:22px;width:440px;padding:3px 0 0 10px;}

div.downloadsInfoRow {border-bottom:1px dotted #133147;display:table;width:100%}
div.downloadsInfoRow div {display:table-cell;vertical-align:middle}
div.downloadsInfoRow div:first-child {width:220px;color:#ddd;padding-left:15px}