span.error{color:#EA2703}

div.logo {position:absolute;bottom:30px;right:20px;cursor:pointer}
div.logo > img {border-radius: 60px;-moz-border-radius: 60px;}

div.owinAuth
{
    width:500px;height:340px;
    background-color:#181818;
    border-radius:25px;-moz-border-radius:25px;
}

/*====================== External Providers List ======================*/
div#extProviders
{
    display:table;width:500px;
    border:1px solid transparent;
    padding-top:10px;border-spacing:10px;
    border-collapse:separate;
}

div#extProviders > div
{
    display:table-cell;cursor:pointer;
    vertical-align:middle; text-align:center;
    min-width:100px;min-height:100px;
}

div#extProviders > div:hover > img
{
    width:91px;height:91px;
}
/*====================== info ======================*/
div#info
{
    display:none;
    border:1px solid transparent;
    padding:10px;text-align:left;
    border-radius:25px;-moz-border-radius:25px;
    min-width:240px;height:190px;
}

/*----------------- User Info -----------------*/
div#info > div.user
{
    float:left;
    background-color:#303030;
    border-radius:6px;-moz-border-radius:6px;
    padding:10px;margin:10px 15px 10px 10px;
    display:block
}
div#info > div.user > img
{
    width:150px;height:150px;border-radius:4px;-moz-border-radius:4px;
}

/*----------------- User info actions -----------------*/
ul.verified {list-style:none;display:inline-block;padding-left:0px;margin-top:0px}
ul.verified li {padding-left:18px;color:white;font-size:13px;background:transparent url(../img/check16.png) 0 0 no-repeat;}

span.progress{color:#5FC0FE}
span.href
{
    text-decoration:none;color:#ccc;
    border-bottom-width:1px;
    border-bottom-style:dotted;
    cursor:pointer;
}
span.href:hover{text-decoration:none;color:#fff;}

/*----------------- Authentication in Progress -----------------*/
div#info > div.extAuth
{
    background-color:white;margin-top:-12px;
    border-radius:25px;-moz-border-radius:25px;
}
div#info > div.extAuth > div{display:table;border-collapse:separate;width:475px}
div#info > div.extAuth > div:first-of-type{border-spacing:0px;height:108px;}
div#info > div.extAuth > div:last-of-type{border-spacing:20px;height:208px;}
div#info > div.extAuth > div > h1{color:black;font-size:17px;margin:50px 0 0 20px}
div#info > div.extAuth > div > div{display:table-cell;vertical-align:middle;text-align:center}
div#info > div.extAuth > div > div:first-of-type > img{border-radius: 60px;-moz-border-radius: 60px;}

/*----------------- Message -----------------*/
div#info > div.message {display:table;width:100%;height:100%;border-spacing:5px}
div#info > div.message strong {color:#5FC0FE;}
div#info > div.message > div{
    color:white;font-size:14px;
    display:table-cell;padding:30px 10px 10px 30px;
    border-radius:25px;-moz-border-radius:25px;
}