span.error{color:#EA2703}

div.logo {position:absolute;bottom:30px;right:20px;cursor:pointer}
div.logo > img {border-radius: 60px;-moz-border-radius: 60px;}

/*====================== External Providers List ======================*/
div#extProviders
{
    display:table;
    border-collapse:separate;
    border-spacing:20px;
}

div#extProviders > div
{
    display:table-cell;
    vertical-align:middle; text-align:center;
    cursor:pointer;
    min-width:100px;min-height:100px;
}

div#extProviders > div:hover > img
{
    width:91px;height:91px
}
/*====================== info ======================*/
div#info
{
    display:none;border:1px solid transparent;
    text-align:left;
    border-radius:25px;-moz-border-radius:25px;
    min-width:240px;height:200px;
}

div#info > div.user
{
    float:left;
    background:#181818;border-radius:6px;-moz-border-radius:6px;
    padding:10px;margin:10px 15px 10px 10px;
    display:block
}
div#info > div.user > img
{
    width:150px;height:150px;border-radius:4px;-moz-border-radius:4px;
}

div#info > div.message {display:table;width:100%;height:100%;border-spacing:5px}
div#info > div.message > div{
    color:white;font-size:14px;
    background:#181818;display:table-cell;
    padding:30px 20px 20px 20px;
    border-radius:25px;-moz-border-radius:25px;
}

div#info > div.message strong {color:#5FC0FE;}

ul.verified {list-style:none;display:inline-block;padding-left:0px;margin-top:0px}
ul.verified li {padding-left:18px;color:white;font-size:13px;background:transparent url(../img/check16.png) 0 0 no-repeat;}

span.progress{color:#5FC0FE}
span.href
{
    text-decoration:none;color:#ccc;
    border-bottom-width:1px;
    border-bottom-style:dotted;
    cursor:pointer;
}
span.href:hover{text-decoration:none;color:#fff;}
/*====================== External Authentication Request page ======================*/
div#extAuthRequestSending
{
    padding:10px;display:table;margin: 20px auto;
    background-color:#1E1E1E;vertical-align:middle;
    border-radius:25px;-moz-border-radius:25px;
    min-width:330px;height:190px;
}

div#extAuthRequestSending > div
{
    padding:10px;display:table-cell;vertical-align:middle;
    background-color:white;text-align:left;
    border-radius: 25px;-moz-border-radius:25px;
    min-width:220px;height:140px;
}
div#extAuthRequestSending > div > h1{color:#303030;font-size:17px}
div#extAuthRequestSending > div > div{float:right;margin:40px 15px 0 0}