@using SupperSlonicDomain.Models.Account;

@model User

<p>Dear @Model.FullName,</p>

<div>
    <p>
        This is a confirmation email that all your personal data <strong>has been successfully deleted</strong>.
    </p>
</div>