@{
    ViewBag.Title = "SupperSlonic Home Page";
}
<div class="demo" style="float:right;width:350px;margin-right:0px"><img src="~/Content/img/idea.png" /></div>
<h1 class="first">Welcome!</h1>
<p>This page is devoted to the software development. You can find here different tips, tricks and ready to use code which can be helpful in your own projects and applications.</p>
<p>At the moment I have articles on the following subjects:</p>
<ul class="check-list">
    <li>Web development (mostly ASP.Net MVC);</li>
    <li>Cloud Computing Technology (Amazon Web Services).</li>
</ul>
<p>You’re welcome to ask any questions =)</p>