@{
    ViewBag.Title = "SupperSlonic Home Page";
}
<div class="demo" style="float:left;width:422px"><img src="~/Content/img/underConstruction.jpg" /></div>
<h1 class="first">Welcome!</h1>
<p>The <strong>Web Controls</strong> section is currently under construction, therefore the information presented is limited right now.</p>
<p>The <strong>Amazon Web Services</strong> section is working =)</p>