<a class="textLink" href="http://www.codeproject.com/Tips/625706/Lightweight-vertical-tabs-using-ASP-NET-MVC">Vertical Tabs Control for ASP.Net MVC</a>
<div class="demo" style="float:left;width:422px"><img src="~/Content/img/underConstruction.jpg" /></div>