<html>
<head>
    <title>SupperSlonic registration confirmation</title>
</head>
<body>
    @RenderBody()
    <p>
        If you have any questions, please contact me using my website <a href="https://supperslonic.com/">SupperSlonic.com</a>
        <img src="https://supperslonic.com/Content/img/logo.png" style="border-radius:60px; -moz-border-radius:60px; float: right" />
    </p>
</body>
</html>
