<div id="colorPicker" class="colors-grid">
    <div>
        <div class="slonic-calendar-colors-greyDark" title="greyDark">&nbsp;</div>
        <div class="slonic-calendar-colors-greyLight" title="greyLight">&nbsp;</div>
        <div class="slonic-calendar-colors-whiteSmoke" title="whiteSmoke">&nbsp;</div>
        <div class="slonic-calendar-colors-blueWhite" title="blueWhite">&nbsp;</div>
        <div class="slonic-calendar-colors-blueSky" title="blueSky">&nbsp;</div>
        <div class="slonic-calendar-colors-blueSoft" title="blueSoft">&nbsp;</div>   
    </div>
     <div>
        <div class="slonic-calendar-colors-bluePipe" title="bluePipe">&nbsp;</div>
        <div class="slonic-calendar-colors-blueToxic" title="blueToxic">&nbsp;</div>
        <div class="slonic-calendar-colors-blueGloss" title="blueGloss">&nbsp;</div>
        <div class="slonic-calendar-colors-greenPeace" title="greenPeace">&nbsp;</div>
        <div class="slonic-calendar-colors-greenSoft" title="greenSoft">&nbsp;</div>
        <div class="slonic-calendar-colors-greenOlive" title="greenOlive">&nbsp;</div>
    </div>
      <div>
        <div class="slonic-calendar-colors-greenOliveDark" title="greenOliveDark">&nbsp;</div>
        <div class="slonic-calendar-colors-greenExtra" title="greenExtra">&nbsp;</div>
        <div class="slonic-calendar-colors-greenDark" title="greenDark">&nbsp;</div>
        <div class="slonic-calendar-colors-greenNeon" title="greenNeon">&nbsp;</div>
        <div class="slonic-calendar-colors-greenLime" title="greenLime">&nbsp;</div>
        <div class="slonic-calendar-colors-yellowGold" title="yellowGold">&nbsp;</div>
    </div>
     <div>
        <div class="slonic-calendar-colors-yellowLight" title="yellowLight">&nbsp;</div>
        <div class="slonic-calendar-colors-yellowSun" title="yellowSun">&nbsp;</div>
        <div class="slonic-calendar-colors-yellow" title="yellow">&nbsp;</div>
        <div class="slonic-calendar-colors-orangeSoftExtra" title="orangeSoftExtra">&nbsp;</div>
        <div class="slonic-calendar-colors-orangeSoft" title="orangeSoft">&nbsp;</div>
        <div class="slonic-calendar-colors-orange" title="orange">&nbsp;</div>
    </div>
     <div>
        <div class="slonic-calendar-colors-redTomato" title="redTomato">&nbsp;</div>
        <div class="slonic-calendar-colors-orangeDark" title="orangeDark">&nbsp;</div>
        <div class="slonic-calendar-colors-redFire" title="redFire">&nbsp;</div>
        <div class="slonic-calendar-colors-red" title="red">&nbsp;</div>
        <div class="slonic-calendar-colors-brownRed" title="brownRed">&nbsp;</div>
        <div class="slonic-calendar-colors-redSoft" title="redSoft">&nbsp;</div>
    </div>
    <div>
        <div class="slonic-calendar-colors-violet" title="violet">&nbsp;</div>
        <div class="slonic-calendar-colors-pinkBarbie" title="pinkBarbie">&nbsp;</div>
        <div class="slonic-calendar-colors-pink" title="pink">&nbsp;</div>
        <div class="slonic-calendar-colors-pinkSoftDark" title="pinkSoftDark">&nbsp;</div>
        <div class="slonic-calendar-colors-pinkDark" title="pinkDark">&nbsp;</div>
        <div class="slonic-calendar-colors-pinkSoftBright" title="pinkSoftBright">&nbsp;</div>     
    </div>
</div>