@model SupperSlonicDomain.Models.SourceCodeDownload.DownloadInfo

<div class="downloadsInfoSection">@Model.Name</div>
<div class="downloadsInfoRow">
    <div>Total downloads</div>
    <div>@Model.TotalDownloads</div>
</div>
<div class="downloadsInfoRow">
    <div>Latest download</div>
    <div>@Html.Raw(Model.LatestDownload.HasValue ? Model.LatestDownload.Value.ToString("dd MMM yyyy hh:mm:ss") : "")</div>
</div>
