<div class="download">
    <img style="vertical-align:middle" src="~/Content/img/download.png" alt="download" />
    @Html.ActionLink("Download example code", "DownloadExample", "Home", new { id = this.ViewContext.RouteData.Values["action"] }, null)
</div>