<div class="demo" style="float:left;width:422px"><img src="~/Content/img/underConstruction.jpg" /></div>
<h1 class="first">Description</h1>
<p>This section is currently under construction. The only available information in the section at the moment is the @Html.ActionLink("Vertical Tabs", "VerticalTabs", "WebControls", null, new { @class = "textLink" }).</p>
