<div class="demo" style="width:210px;float:left;"><img src="~/Content/img/web-jQuery.jpg" alt="jQuery"/></div>
<p>Here you can find different ready to use web controls, web-design solutions. Most of them are done with <strong>ASP.Net MVC</strong>, but it has lots of good <strong>CSS</strong> and <strong>JavaScript</strong> examples as well.</p>
<p>I usually test these demo projects, that you can easily download from this web-site, with different web-browsers, trying to make my CSS and JavaScript compatible with all of them =)</p>
<div class="demo" style="width:229px;float:right;margin-right:50px"><img src="~/Content/img/web-tools.jpg" alt="css"/></div>
<ul class="check-list">
    <li>Google Chrome;</li>
    <li>FireFox;</li>
    <li>Internet Explorer;</li>
    <li>Safari.</li>
</ul>
<p>If you find any bugs or problems, I will appreciate your <a class="textLink" href="javascript:TabWidget.Tab.open();">feedback</a>.</p>
