<div class="demo" style="width:128px;float:left"><img src="~/Content/img/web-tools.jpg" alt="css"/></div>
<p>Here you can find different ready to use web controls and full-fledged solutions. All of them are implemented with <strong>ASP.Net MVC</strong>, but there are some nice <strong>CSS</strong> and <strong>JavaScript</strong> examples as well.</p>
<p>I alwasy try to put as many comments as possible in .js and .css files, so it can be easier to understand, correct and reuse the code.</p>

<p>I usually test these demo projects with the most popular web browsers, trying to make my CSS and JavaScript compatible with all of them =)</p>
<div class="demo" style="width:190px;float:right;"><img src="~/Content/img/web-jQuery.jpg" alt="jQuery"/></div>
<ul class="check-list">
    <li>Google Chrome;</li>
    <li>FireFox;</li>
    <li>Internet Explorer;</li>
    <li>Safari.</li>
</ul>
<p>If you find any bugs or problems, I will appreciate your <a class="textLink" href="javascript:TabWidget.Tab.open();">feedback</a>.</p>
