@{Layout = "_WebApiLayout.cshtml";}

<div style="margin-top:20px">
    <p>Registration <strong>has not been confirmed</strong>.</p>
    <p>An error has occurred: [<span class="error">@Model</span>]</p>
</div>
