@using SupperSlonicDomain.Models.Account;

@model User

@{Layout = "_WebApiLayout.cshtml";}

<div style="margin-top:20px">
    <p>Dear @Model.FullName,</p>
    <p>Your registration <strong>has been successfully confirmed</strong>.</p>
</div>