@section CSS
{
    <link href="@Url.Content("~/Content/css/owinAuth.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/owinAuth.js")"></script>
    <script type="text/javascript">

        $(document).ready(function ()
        {
            authenticate();
        });

        function authenticate()
        {
            var hash = window.location.hash;

            if (hash.indexOf('#url') == 0)
            {
                window.location = hash.replace('#url=', '');
            }
            else if (hash.indexOf('#access_token') == 0)
            {
                var hashValues = hash.split('=');

                setToken(hashValues[2].split('&')[0], hashValues[1].split('&')[0]);
                window.location = "/SocialNetworks/OwinAuthentication";
            }
        }
    </script>
}

<div id="extAuthRequestSending">
    <div>
        <h1>Please wait,<br />while we are connecting the external provider...</h1>
        <div><img id="waitingImg" src="@Url.Content("~/Content/img/waiting.gif")" alt="waiting" /></div>
    </div>
</div>