@section CSS
{
    <link href="@Url.Content("~/Content/css/owinAuth.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/owinAuth.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            getExternalProvidersList();

            if (isTokenSet())
                getUserInfo();
        });
    </script>

}

<h1 class="first" id="description">Demo</h1>

<div id="extProviders"></div>
<div id="info"></div>

<div class="demo" style="width:422px"><img src="~/Content/img/underConstruction.jpg" alt="underConstruction" /></div>
